/* Accordion.css */
.accordion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.accordionSection {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.accordionSection:hover {
  border-radius: 15px;
}

.accordionSection.expanded {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-color: #007bff;
  
}

.accordionHeader {
  width: 100%;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: left;
  position: relative;
  /* transition: background-color 0.3s ease; */
  /* transition: all 5s cubic-bezier(4, 0, 2, 1);  */
}

.accordionHeader:hover {
  background-color: #FCEBEB;
}

.accordionSection.expanded .accordionHeader {
  background-color: #f0f7ff;
  border-bottom: 1px solid #e0e0e0;

  /* padding-left: 60px; Компенсируем место для иконки */
  padding-right: 60px;
}

.accordionTitle {
  margin: 0;
  font-size: var(--size-title);
  color: var(--title);
  font-weight: 600;
}

/* .accordionTitle:hover {
  radius: 20px;
} */

.accordionSection.expanded .accordionTitle {
 color: #58b9b0;
}

.accordionIcon {
  font-size: var(--size-title);
  font-weight: 300;
   color: var(--title);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.accordionSection.expanded .accordionIcon {
  color: #58b9b0;
  transform: rotate(180deg);
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.3s ease;
  padding: 0 25px;
}

.accordionSection.expanded .accordionContent {
  max-height: 5000px; /* Большое значение для анимации */
  padding: 25px;
}

/* Анимация для содержимого */
.accordionContent > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.accordionSection.expanded .accordionContent > * {
  opacity: 1;
  transform: translateY(0);
}

/* Задержка для анимации элементов внутри */
.accordionSection.expanded .accordionContent > *:nth-child(1) { transition-delay: 0.1s; }
.accordionSection.expanded .accordionContent > *:nth-child(2) { transition-delay: 0.2s; }
.accordionSection.expanded .accordionContent > *:nth-child(3) { transition-delay: 0.3s; }
.accordionSection.expanded .accordionContent > *:nth-child(4) { transition-delay: 0.4s; }

