body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
  45deg, 
  var(--standOut),
  #ffb6b6,  
  #a6e5e0,  
   var(--standOut)
);
}

@media (max-width: 765px) {
  .laptop-image {
    display: none;
  }
}
 