@import '../styles/variables.css';

.titleContacts {
    color: var(--title);
    font-size: var(--size-title);
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallHeadlinesContact {
  font-size: var(--size-subtitle);
   /* display: flex;
    align-items: center;
    justify-content: center; */
    order: 1;
    color: #58b9b0;
}

.textContacts {
    margin-inline: 150px;
    margin-block: 40px;
    font-size: var( --size-text);
}

.dataContacts {
     /* display: flex;
    align-items: center;
    justify-content: center; */
    order: 2;
     font-size: var(--size-link);
}

.section {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    /* grid-column: 3;
    grid-row: 2; */
    grid-template-columns: 25% 25% 25%;
    column-gap: 90px;
    row-gap:15px;
    margin-inline: 150px;
}

.copyNotification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 30px;
}

.copyLink {
    text-decoration: none;
    color: black;
    /* font-size: var(--size-text); */
}

.city {
    border: none;
    background-color: white;
}

.mapModalContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block-start: 20px;
}

.mapCloseBtn {
    width: 30px;
    height: 400px;
    border: none;
    background-color: white;
}