/* @import url('https://fonts.googleapis.com/css2?family=Third+Street&display=swap'); */
@import "../styles/variables.css";
.logo {
  /* background-color: var(--highlight); */
  background-color: var(--standOut);
  color: var(--title);
  font-family: var(--header-h1), sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-block: 30px;

  /*полукруг*/

  clip-path: polygon(
    /* 0% 0%,
        100% 0%,
        100% 85%,
        90% 90%,
        75% 95%,
        50% 100%,
        25% 95%,
        10% 90%,
        0% 85% */
    0% 0%,
    /* верхний левый */ 100% 0%,
    /* верхний правый */ 100% 75%,

    /* правый верхний угол восьмиугольника */
    /* Восьмиугольная нижняя часть (8 сторон) */ 100% 85%,
    /* ↘ правый верхний скос */ 85% 100%,
    /* ↓ правая вертикальная сторона */ 50% 100%,
    /* ← нижняя горизонтальная сторона (центр) */ 15% 100%,
    /* ↑ левая вертикальная сторона */ 0% 85%,
    /* ↖ левый верхний скос */ 0% 75% /* левый верхний угол восьмиугольника */
  );
}

.header {
  border-bottom: var(--highlight);
  /* padding: 15px 20px;
    transition: color 0.3s ease; */
  background: linear-gradient(90deg, #fae8e7, #faccf1);
}

/* .container {
width: 40vw;
} */

.headers {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
  
  /* background-color:linear-gradient(45deg, #ff6b6b, #4ecdc4, #45b7d1, #96ceb4) 1; */
}

.navItems {
  /* margin-inline-end: 35px; */
   margin-inline: 20px;
   margin-block: 8px;
}

.navList {
  background-color: var(--title);
  border-radius: 20px;
}

.navLink {
  color: #fff;
}