@import '../styles/variables.css';

.navItems {
  list-style: none;
}

.navLink {
   text-decoration: none;
   color: var(--text);
}

.navList {
  text-decoration: none;
  display: flex; 
   justify-content: space-between;
}

.textSection {
  font-family: var(--all-text);
  font-size: var(--size-text);
}