:root {
    /*цвета*/
    --title: #DE3A87;
    --text: #3A3DDE;
    --standOut: #fff;
    /*шрифты*/
    --header-h1: 'Calluna';
    --all-text: 'Bree';
    /*размеры*/
    --size-title: 36px;
    --size-subtitle: 24px;
    --subtitle: 22px;
    --size-text: 24px;
    --size-button: 18px;
    --size-link: 19px;
    --link: 16px;
    /*толщина*/
    --weight: 600; 
 




    
}